<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">

    <title>POs</title>

</head>

<body class="sb-nav-fixed">
    <div th:replace="layout/header :: header"></div>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Categories List</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Categories List</li>
        </ol>

        <!-- Mostrar el mensaje de éxito si está presente -->
        <div th:if="${message != null}" class="alert alert-success shadow-sm">
            <span th:text="${message}"></span>
        </div>

        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <i class="fas fa-table me-1"></i>
                Categories List
            </div>
            <div class="card-body">
                <!-- Table start -->
                <table class="table table-hover table-bordered" id="datatablesSimple">
                    <thead class="table-dark">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="category : ${categories}">
                            <td th:text="${category.name}"></td>
                            <td th:text="${category.description}"></td>
                            <td>
                                <!-- Action buttons (edit/delete) -->
                                <div class="btn-group" role="group">
                                    <a th:href="@{/category/edit/}+${category.categoryId}"
                                    sec:authorize="hasAuthority('UPDATE')"
                                        class="btn btn-warning btn-sm me-1">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                    <a th:href="@{/category/delete/}+${category.categoryId}"
                                        sec:authorize="hasAuthority('DELETE')" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Are you sure you want to delete this category?');">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Pagination start -->
                <nav th:if="${categories.totalPages > 1}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${categories.first ? 'disabled' : ''}">
                            <a class="page-link"
                                th:href="@{${pageRenderUtils.url}(pages=${categories.number - 1})}">&laquo;</a>
                        </li>

                        <li class="page-item" th:each="pageNumber : ${pageRenderUtils.pages}"
                            th:classappend="${pageNumber.current ? 'active' : ''}">
                            <a class="page-link" th:href="@{${pageRenderUtils.url}(pages=${pageNumber.number - 1})}"
                                th:text="${pageNumber.number}"></a>
                        </li>

                        <li class="page-item" th:classappend="${categories.last ? 'disabled' : ''}">
                            <a class="page-link"
                                th:href="@{${pageRenderUtils.url}(pages=${categories.number + 1})}">&raquo;</a>
                        </li>
                    </ul>
                </nav>
                <!-- Pagination end -->
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- Optional: Include FontAwesome for icons -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js}"></script>

</body>


</html>